*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{
    z-index: 1;
    margin: 0;
    background-image: url(../images/stone.png);
    background-color: rgb(37, 37, 37);
}

#dirt{
    width: 100vw;
    height: 50px;
    z-index: 2;
    background-image: url(../images/dirt.PNG);
    background-size: 50px;
    background-repeat: repeat-x;
    margin-bottom: 4em;
    margin-top: 0;
}
#dirt2{
    width: 100vw;
    height: 100px;
    z-index: 2;
    background-image: url(../images/dirt2.PNG);
    background-size: 50px;
    background-repeat: repeat;
    margin-top: 0;
    margin-bottom: 2em;
}
#dirt2 p{
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    padding-top: 30px;
    color: white;
}

#body-grid{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#button1{
    width: 50px;
    height: 50px;
    margin-top: 2em;
}
#button1:hover{
    width: 60px;
    height: 60px;
}

.spin1{
    animation: rotate1 0.3s;
}
.spin2{
    animation: rotate2 0.5s;
}

#mcImage{
    max-height: 500px;
    /* width: 400px; */

}


@keyframes rotate1{
    100% {transform: rotate(360deg);
            transform-origin: center center;}
}
@-moz-keyframes rotate1{
    100% {transform: rotate(360deg);
        transform-origin: center center;}
}
@-webkit-keyframes rotate1{
    100% {transform: rotate(360deg);
        transform-origin: center center;}
}

@keyframes rotate2{
    100% {transform: rotate(360deg);
            transform-origin: center center;}
}
@-moz-keyframes rotate2{
    100% {transform: rotate(360deg);
        transform-origin: center center;}
}
@-webkit-keyframes rotate2{
    100% {transform: rotate(360deg);
        transform-origin: center center;}
    }